@mixin backImg {
  background-image: url(https://www.softzone.es/app/uploads-softzone.es/2018/11/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}