@import './variables';
@import './mixins';

@import '../components/NavBar/navbar';
@import '../pages/Home/home';
@import '../pages/Users/users';
@import '../components/PostCard/postcard';
@import '../components/Comments/comments';
@import '../components/SingleComments/singlecomments';

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(246, 247, 243);
}