.languages {
  text-align: center;
  width: 10%;
  margin: 25px auto;
  background-color: rgb(228, 225, 225);
  border-radius: 5px;

  margin: 30px auto;
  padding: 15px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

}

p {
  margin-bottom: 15px;
}
.title {
  text-align: center;
  
}

.habilities {
  text-align: center;
  width: 15%;
  margin: 25px auto;
  background-color: rgb(228, 225, 225);
  border-radius: 5px;

  margin: 30px auto;
  padding: 15px;
  text-align: center;
}

.volunteer {
  text-align: center;
  width: 60%;
  margin: 25px auto;
  background-color: rgb(228, 225, 225);
  border-radius: 5px;

  margin: 30px auto;
  padding: 15px;
  text-align: center;
}