.link {
  text-decoration: none;
  color: black;
  
}

.blog {
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  height: 80%;
  margin: 50px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  &__img {
    width: 100%;  
    border-radius: 5px 5px 0 0;
  }

  &__title {
    font-size: 1rem;
    padding: 10px 5px;    
  }

  &__body {
    font-size: .7rem;
    padding: 0 5px;
  }

  &__user {
    padding: 15px 5px;
  }
}